body {
margin: 0;
padding: 0;
font-family: Helvetica, sans-serif;
font-size: 16px;
}

h1 {
margin: 5px 0;
}

div {
padding:0;
margin:0;
}

p {
padding: 0;
margin: 0;
}

div.page {
width: 980px;
margin: auto;
}

#rotor_display {
font-size: 48px;
font-family: Courier New, Courier, Fixed, monospace;
font-weight: bold;
text-align: center;
}

#rotor_display span {
border: 3px solid black;
padding: 15px;
margin: 0 10px;
}

label {
font-size: 24px;
font-weight: bold;
margin-right: 10px;
}

input[type="text"] {
font-size: 24px;
font-family: Courier New, Courier, Fixed, monospace;
font-weight: bold;
}

#plain {
width: 100%;
height: 100px;
font-size: 24px;
font-family: Courier New, Courier, Fixed, monospace;
font-weight: bold;
}

#cipher {
font-size: 24px;
font-family: Courier New;
font-weight: bold;
}