body {
margin: 0;
padding: 0;
font-family: Helvetica, sans-serif;
font-size: 16px;
}

div {
padding:0;
margin:0;
}

div.page {
width: 980px;
margin: auto;
}

#plain {
width: 100%;
height: 50px;
font-size: 24px;
font-family: Courier New, Courier, Fixed, monospace;
font-weight: bold;
}

#cipher {
font-size: 24px;
font-family: Courier New;
font-weight: bold;
}